{% load crispy_forms_tags %}


<div class='container'>
  <div class="d-flex flex-column">
    <form method='POST' class= "shadow p-3 mb-3 bg-info rounded" novalidate action='{% if action_url %}{{ action_url }}{% else %}{% url "login" %}{% endif %}'> {% csrf_token %}
        {% if next_url %}
        <input type='hidden' name='next' value='{{ next_url }}' />
        {% endif %}

        {% if address_type %}
        <input type='hidden' name='address_type' value='{{ address_type }}' />
        {% endif %}
          {% crispy form %}
      <!-- <button type='submit' class='btn btn-default'>Submit</button> -->
    </form>
</div>
</div>
