{% include 'base.html' %}
<style>
body {
  background-color: lightgrey
}
</style>

{% block content %}
<h1 class="text-center">Login</h1>
<div class="container mt-4">
  <div class="row justify-content-start">
    <div class="col">
  <div class="col justify-content-center">
      <div class="form-group col">

        <form method='POST' class= "shadow p-3 mb-3 bg-info rounded"> {% csrf_token %}
          {{ form.as_p }}
          <button type='submit' class='btn btn-outline-light btn-lg col-2 justify-content-center'>Submit</button>
        </form>
      </div>
      </div>
    </div>
  </div>
  </div>
 </div>

{% endblock %}
